
@page "/trip"
@page "/trip/{id:int}"
@inject ITripService TripService

<h3>Fahrten</h3>

@if (Id == null)
{
    <h3>Neue Fahrt anlegen</h3>
}
else
{
      <h3>Fahrt bearbeiten</h3>
}



<EditForm Model = "@trip" OnSubmit="HandleSubmit">

    <div>
        <label for="duration">Dauer</label>
        <InputNumber id="duration" @bind-Value="trip.duration" class="form-control"></InputNumber>
    </div>

     <div>
        <label for="date">Datum</label>
        <InputText id="date" @bind-Value="trip.date" class="form-control"></InputText>
    </div>


    <div>
        <label for="license">Führerschein</label>
        <InputText id="license" @bind-Value="driver.license" class="form-control"></InputText>
    </div>

   

    

    
    <button type="submit" class=" btn btn-primary">Speichern</button>
     <button type="button" class=" btn btn-danger" @onclick="DeleteDriver"> Löschen </button>

</EditForm>













@code {
    [Parameter]
    public int? Id { get; set; }
    
    Trip trip = new Trip();


    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {



        }

        else
        {


            trip = await TripService.GetSingleTrip((int)Id);
        }
    }


    async Task HandleSubmit() {


        if (Id == null)
        {
            await TripService.CreateTrip(trip);

        }

        else
        {
            await TripService.UpdateTrip(driver);

        }

    }

    async Task DeleteDriver() {

        await DriverService.DeleteDriver(driver.driverId);
    }



}
